//fonts
@import url('https://fonts.googleapis.com/css?family=Dekko&display=swap');
$headers : 'Dekko', cursive;
//Brødteksten er Segoe UI, som er standart hos Bootstrap

//Font-sizes specific places
$placeholder-text-size: 15px;


//Colors
$background-color: #FFFAF9;
$dark: #715159;
$light: #B9919A;
$border-color: #802E58;
$grey-background: #F6F6F6; 
$white: #FFFF;
$par-text-color: #444444;
$box-shadow: #DDD;
$game-background: rgba(255, 250, 249, 0.61);
$succes: #88A65F;
$fail: #990033;